<div class="header">
    <div class="container">
        <ul class="flex-sb">
            <li><a href="#" class="ft-p3 ft-white">WILLIAM LEE</a></li>
            <li><a href="#" class="ft-p3 ft-white">BASED IN TAIWAN</a></li>
            <li><a href="#" class="ft-p3 ft-white">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</a></li>
            <li><a href="#" class="ft-p3 ft-white">CONTACT ME</a></li>
        </ul>
    </div>
</div>